<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Componentpalooza</title>

		<environment names="Development">
			<link rel="stylesheet" href="~/css/pure.css">
			<link rel="stylesheet" asp-href-include="~/css/*.css" asp-href-exclude="~/css/pure.css">
		</environment>
		<environment names="Test,Production">
			<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true">
		</environment>
  </head>
  <body>
		<header id="main-header">
			<h1 class="title">DOOM™: Daily Organizer Of Meetings</h1>
		</header>
		<main>
			@RenderBody()
		</main>

		<environment names="Development">
			<script src="~/js/app.js"></script>
		</environment>
		<environment names="Test,Production">
			<script src="~/js/site.min.js" asp-append-version="true"></script>
		</environment>

    @RenderSection("scripts", required: false)
  </body>
</html>
