@model Componentpalooza.ViewModels.Home.IndexViewModel

<div class="page-content">
	<div class="page-content-column past-day">
		@foreach(var group in Model.Past)
		{
			@Component.Invoke("AppointmentDayCard", group);
		}
	</div>
	
	<div class="page-content-column">
		@foreach(var group in Model.Future)
		{
			@Component.Invoke("AppointmentDayCard", group);
		}
	</div>

	<form asp-controller="Home" asp-action="New" class="pure-form page-content-column pure-form-stacked" id="create-event-form-card">
		<fieldset>
			<legend>New Event</legend>
	
			<div class="card-content">
				<label asp-for="StartsAt">Starts at</label>
				<input asp-for="StartsAt">
	
				<label asp-for="Title">Title</label>
				<input asp-for="Title">
				
				<label asp-for="FifteenMinuteMultiplier">Length</label>
				<select asp-for="FifteenMinuteMultiplier" asp-items="Model.Multipliers"></select>
	
				<button type="submit" class="pure-button pure-button-primary">Create appointment</button>
			</div>
		</fieldset>
	</form>
</div>
